/*---------- Fuentes ----------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*---------- Paletas de Colores ----------*/

#interes {
    color: rgb(250, 252, 157);
}

.colores-a-usar {
    /*Oscuro:*/
    color: rgba(20, 20, 20, 0.95);
    /*Celeste Medio Claro:*/
    color: rgb(130, 253, 237);
    /*Morado Opaco:*/
    color: rgba(122, 93, 255, 0.1);
    /*Morado Claro:*/
    color: rgba(122, 93, 255, 0.55);
}

/*---------- Cuerpo ----------*/

body {
    font-family: sans-serif;
    margin: 0;
    background-image: url('../imagenes/fondo.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html,
body {
    overflow-x: hidden;
}

header {
    display: flex;
    min-height: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(20, 20, 20);
}

/*---------- Encabezado ----------*/

.head-titulo {
    color: white;
}

.head-logo {
    display: flex;
    align-items: center;
}

.head-logo img {
    height: 50px;
    margin-right: 10px;
}

nav a {
    font-weight: 600;
    margin-right: 8px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: rgb(130, 253, 237);
}

/*---------- Ajustes ----------*/

body > table {
    width: 80%;
}

.tabla{
    background-color: rgb(5, 5, 5,0.9);
    height: 500px;
    width: 2000px;
}

table {
    border-collapse: collapse;
    color: white;
    font-size: 15px;
}

table.lista {
    width: 1460px;
}

td,
th {
    border: 1px solid rgba(122, 93, 255, 0.55);
    text-align: left;
    padding: 8px;
}

/*---------- Formulario ----------*/

.formulario {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
    border: 20px;
}

.formulario label {
    margin-bottom: 5px;
    color: rgb(130, 253, 237);
    font-size: 18px;
}

.formulario input[type="text"],
.formulario input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(122, 93, 255, 0.9);
    border-radius: 4px;
    background-color: rgb(20, 20, 20);
    color: rgb(130, 253, 237);
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}

.formulario input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: rgb(20, 20, 20);
    color: rgb(130, 253, 237);
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background-color: rgba(122, 93, 255, 0.55);
}

tr:nth-child(even),
table.lista thead > tr {
    background-color: rgba(122, 93, 255, 0.1);
    color: rgb(130, 253, 237);
    font-family: 'Open Sans', sans-serif;
}

form div.botones-accion-formulario {
    text-align: right;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(250, 252, 157);
    margin-right: 4px;
}

.ocultar {
    display: none;
}

.error-validacion {
    color: red;
    margin-left: 5px;
    display: none; /* Oculta el mensaje de error por defecto */
}
